name: node_type_try

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Depend
        run: npm install
      - name: Build Typescript
        run: npm run build
      - name: Docker login
        run: echo "${{secrets.DOCKER_PASSWORD}}" docker login -u "${{secrets.DOCKER_USERNAME}}" --password-stdin
      - name: Docker build
        run: docker build -t "${{secrets.DOCKER_USERNAME}}"/node_type_try:latest .